# ============================================================
# .env.example
#
# Provides a template for .env file.
# You can just replace the value as needed.
#
# 
#
# ===========================================================


# ===========================================================
# API_KEY Sections. 
# ===========================================================

# OpenAI
OPENAI_API_KEY=your_openai_key_here

# Anthropic
ANTHROPIC_API_KEY=your_anthropic_key_here

# Hugging Face
HF_API_KEY=your_hf_key_here


# ===========================================================
# Data Repository
# -----------------------------------------------------------
# Stores all data that AI agents will process.
# Default path is set to ./scraping
# You can change this path as needed.
# ===========================================================
DATA_REPO=./sources/scraping

